a {
  height: 900px;
  font-family: sans-serif;
}

.title-bar {
  float: left;
  padding: 0;
  display: inline-flex;
  align-items: stretch;
  width: 100%;
  border: 1px solid black;
  margin: 0;
  overflow: hidden;
  justify-content: space-between;
  color: white;
  background-color: black;
}

li.header {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  font-family: sans-serif;
  align-items: center;
}

.banner {
  float: left;
  padding: 0;
  display: inline-flex;
  align-items: stretch;
  width: 100%;
  border: 1px solid black;
  margin: 0;
  overflow: hidden;
  justify-content: space-between;
}

li.pane-banner {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  padding-left: 25px;
  padding-right: 5px;
  font-family: sans-serif;
  align-items: center;
}

li {
  list-style: none;
}

.main {
  height: 100%;
}

.nav {
  width: 200px;
  height: 100%;
  font-weight: bold;
  font-family: sans-serif;
}

ul.nav {
  padding-bottom: 235px;
}

.sub-nav {
  font-weight: normal;
}

.movies {
  padding-left: 30px;
}

table.main {
  height: 100%;
  border: 1px solid black;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  display: inline-flex;
}

.border {
  border-right: 1px solid black;
  height: 100%;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: blue;
  color: white;
}

.genre {
  font-style: italic;
  font-size: 16px;
}

td {
  font-family: sans-serif;
}

.runtime {
  padding-left: 850px;
  overflow: hidden;
}
